<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Baltnet Communications</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="@Context.GetLink("/css/landing.css")" />
	<link rel="stylesheet" media="screen and (max-width: 900px)" href="@Context.GetLink("/css/landing.mobile.css")" />
</head>

<body>
	<main>
		<img src="img/badge.svg" alt="Baltnet Communications" />
		<div>
			<h1>Baltnet Communications OÜ</h1>
			<em>Software analysis and design, project consultancy and development management, quality assurance, supporting ISO9001, EMV Level 1 and Level 2 (Visa & Mastercard) compliance.</em>

			<h2>Ivari Horm</h2>
			<p>ivari<img src="img/at.svg" alt="" />baltnet.ee</p>
			<p>+372 53083311</p>
		</div>
		@{ IgnoreBody(); }
	</main>
</body>

</html>