ArchiveSources: => "sections/*.md"
ArchiveOrderKey: Order
IncludeInSitemap: false
---

@foreach (var post in Model.GetChildren()) {
	var id = @post.GetLink().TrimStart('/');

	<!-- Section @id start -->
	<a id="@id" class="@post.GetString("Style")">
		@Html.Raw(await post.GetContentStringAsync())
	</a>
	<!-- Section @id end -->
}
