SectionSources: => "sections/*.md"
SectionOrderKey: Order
IncludeInSitemap: false
---

@foreach (var post in Model.GetChildren()) {
	var image = post.GetString("Image");
	<a id="@post.GetLink().TrimStart('/')" class="@post.GetString("Style")">
		@if(image == null) {
			@Html.Raw(await post.GetContentStringAsync())
		}
		else {
			<img src="/img/@image" alt="Image" />
			<span>@Html.Raw(await post.GetContentStringAsync())</span>
		}
	</a>
}
